---
layout: default
---

<div class='container-fluid container-gray page-index'>
	
	<div class='container container-clear padded-20'>
		<div class='col-md-10 col-md-offset-1'>
			<p class='hero-text'>
				<b>&ldquo;</b>
				Welcome to WR250R.com, the unofficial WR250R and WR250X owners guide.
				Here you&apos;ll find helpful guides, tutorial videos, and the latest aftermarket and OEM parts.
				<b>&rdquo;</b>
			</p>
		</div>
	</div>
	
	<div class='container'>
		<div class='row'>
			<div class='container-white padded-20 index-body'>
				<div class='row'>
				
					<div class='col-md-4'>
						<img src='{{ site.STATIC }}homepage_wr.jpg' class='img-responsive img-rounded' height='300px'/>
						<div class='img-source'>
							<a href='http://idratherberiding.com/' target='_blank' title='Image Source: idratherberiding.com'>idratherberiding.com</a>
						</div>
					</div>
					
					<div class='col-md-4'>
						{% include popular-articles.html %}
						
						<div class='text-center'>
							<a href='/articles' class='btn btn-default btn-sm'>View All Articles</a>
						</div>
					</div>
					
					<div class='col-md-4'>
						{% include popular-products.html %}
						
						<div class='text-center'>
							<a href='/products' class='btn btn-default btn-sm'>View All Add-ons</a>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
	
</div>

