<template name='productsIndex'>
	
	<div class='container-fluid container-gray page-products-index'>
		
		<div class='container'>
			
			<div class='col-md-9 container-clear padded-20'>
				
				<div class='row'>
					<ol class='breadcrumb'>
						<li><a href='/'>Home</a></li>
						<li class='active'>Products</li>
					</ol>
				</div>
				
				<div class='row'>
					<div class='col-md-9'>
						<h1>Product Categories</h1>
					</div>
					<div class='col-md-3'>
						<div class='form-group search-field'>
							<input type='text' placeholder='search all products...' class='form-control'/>
						</div>
					</div>
				</div>
				
				<div class='tile-container'>
					{{#each categories }}
	
						<div class='tile-outer col-md-3'>
							<div class='tile-inner'>
								<a href='/products/{{ url }}'>
									<img src='/images/products/{{ thumbnail }}' class='img-responsive'/>
									<div class='title'>{{ title }}</div>
								</a>
							</div>
						</div>
					
					{{else}}
						<em>No categories found</em>
					{{/each}}
				</div>
				
			</div>
			
			<div class='col-md-3 categories-sidebar'>
				
				<div class='container-white padded-15'>
					
					<h6>Something cool</h6>
					<p>Something cool should go here, I'm just not sure what yet</p>
					
					<center><a href='#' class='btn btn-primary'>Call To Action</a></center>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</template>

