<template name='productCategory'>
	
	<div class='container-fluid container-gray page-product-category'>
		
		<div class='container'>
			
			<div class='col-md-9 container-white padded-20'>
				
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li><a href='/products'>Products</a></li>
					<li class='active'>{{ categoryDoc.title }}</li>
				</ol>
				
				<div class='pull-right'>
					<div class='form-group search-field'>
						<input type='text' placeholder='search all products...' class='form-control'/>
					</div>
				</div>
				<h1>{{ categoryDoc.title }}</h1>
				
				<ul class='categories-list'>
					{{#each products }}
						<li><a href='/products/{{ categoryDoc.url }}/{{ url }}'>{{ title }}</a> <em>{{ teaser }}</em></li>
					{{else}}
						<em>No products found</em>
					{{/each}}
				</ul>
				
			</div>
			
			<div class='col-md-3 categories-sidebar'>
				
				<div class='container-white padded-15'>
					
					<h6>Something cool</h6>
					<p>Something cool should go here, I'm just not sure what yet</p>
					
					<center><a href='#' class='btn btn-primary'>Call To Action</a></center>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</template>

