<template name='product'>
	
	<div class='container-fluid container-gray page-product'>
		
		<div class='container'>
			
			<div class='col-md-9 container-white padded-20'>
				
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li><a href='/products'>Products</a></li>
					<li><a href='/products/{{ categoryDoc.url }}'>{{ categoryDoc.title }}</a></li>
					<li class='active'>{{ productDoc.title }}</li>
				</ol>
				
				<div class='pull-right'>
					<div class='price'>${{ productDoc.price }}</div> 
				</div>
				<h1>{{ productDoc.title }}</h1>
				
				<div class='row'>
					<div class='col-md-6 product-images'>
						{{#each productDoc.images }}<a href='/images/products/{{ . }}' class='image-thumb' rel='productImage'><img src='/images/products/{{ . }}' class='img-responsive'/></a>{{/each }}
					</div>
					<div class='col-md-6'>
						<div class='product-actions'>
							<a href='#{{ productDoc._id }}' class='btn btn-default {{#if bookmarked }}bookmarked{{/if}}' data-action='bookmark' data-product='{{ productDoc._id }}'><span class='glyphicon glyphicon-star'></span> Bookmark{{#if bookmarked }}ed{{/if}}</a>
							<a href='#' class='btn btn-default'><span class='glyphicon glyphicon-envelope'></span> Share</a>
							<a href='{{ amazonUrl }}' target='_blank' class='btn btn-primary btn-lg'><span class='glyphicon glyphicon-share-alt'></span> Check it out</a>
						</div>
						
						<div class='product-description'>
							{{{ productDoc.description }}}
						</div>
					</div>
				</div>
				
				
				<ul>
				</ul>
				
			</div>
			
			<div class='col-md-3 categories-sidebar'>
				
				<div class='container-white padded-15'>
					
					<h6>Something cool</h6>
					<p>Something cool should go here, I'm just not sure what yet</p>
					
					<center><a href='#' class='btn btn-primary'>Call To Action</a></center>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</template>

