<template name='productCategory'>
	
	<div class='container-fluid container-gray page-product-category'>
		
		<div class='container'>
			
			<div class='col-md-9 container-clear padded-20'>
				
				<div class='row'>
					<ol class='breadcrumb'>
						<li><a href='/'>Home</a></li>
						<li><a href='/products'>Products</a></li>
						<li class='active'>{{ categoryDoc.title }}</li>
					</ol>
				</div>
				
				<div class='row'>
					<div class='col-md-12 container-header'>
						<h1>{{ categoryDoc.title }} Products</h1>
					</div>
				</div>
				
				<div class='tile-container'>
					{{#each products }}
						
						<div class='tile-outer col-md-4 col-lg-3'>
							<div class='tile-inner'>
								<a href='/products/{{ categoryDoc.url }}/{{ url }}'>
									
									{{#if bookmarked }}
										<div class='pull-right bookmarked' title='You bookmarked this product'>
											<span class='glyphicon glyphicon-star'></span>
										</div>
									{{/if}}
									
									<img src='{{ staticContentUrl }}products/{{ thumbnail }}' class='img-responsive'/>
									<div class='title'>{{ title }}</div>
								</a>
							</div>
						</div>
						
					{{else}}
						<em>No products found</em>
					{{/each}}
				</div>
				
			</div>
			
			<div class='col-md-3 products-sidebar'>
				<div class='container-white padded-15 popular-products'>
					{{> popularProducts }}
				</div>
			</div>
			
		</div>
		
	</div>
	
</template>

