.page-article {
	
	.article-body {
		h1 {
			margin-bottom: 25px;
		}
	}
	
	.article-sidebar {
		
		.container-white {
			margin-bottom: 15px;
		}
		
	}
	
}

.page-articles-list {
	
	.tile-inner {
		
		height: 150px;
		
		a {
			height: 100%;
			width: 100%;
			display: block;
			
			.title {
				height: auto !important;
				margin-bottom: 10px;
			}
		}
	}
	
}

