// High Level
body {
	margin-top: 50px;
	background: #222;
	
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 24px;
	margin-top: 0px;
}

h2 {
	font-size: 20px;
	margin-top: 0px;
}

h6 {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}

// Bootstrap Extensions
.btn-default {
	color: #555;
}

.btn-transparent {
	background: none;
}

.breadcrumb {
	background-color: #fff;
	margin-bottom: 0px;
	box-shadow: 0px 0px 6px 1px rgba(200,200,200,0.5);
}

// Containers
.container-gray {
	background: #f0f0f0;
	padding-bottom: 0px;
	
	&>.container {
		padding-bottom: 0px;
	}

	.container-white {
		background: #fff;
		border-radius: 4px;
		margin-top: 20px;
		box-shadow: 0px 0px 6px 1px rgba(200,200,200,0.5);
	}
	
	.container-clear {
		.container-header {
			h1 {
				margin-left: -10px;
				margin: 20px -15px 0px -15px;
			}
		}
	}

}

.padded-15 {
	padding: 15px;
}

.padded-20 {
	padding: 20px;
}

p, ul {
	line-height: 30px;
	font-size: 16px;
	margin: 20px 0px 20px 0px;
}

ol {
	margin-bottom: 20px;
	
	li {
		margin: 5px 0px;
	}
}

.search-field {
	display: none;
	margin-bottom: 0px;
}

.tile-container {
	margin-left: -25px;
	margin-right: -25px;
	
	.tile-outer {
		text-align: center;
		margin-top: 20px;
		padding-right: 10px;
		padding-left: 10px;
		
		.tile-inner {
			padding: 15px;
			background: #fff;
			overflow: hidden;
			border-radius: 4px;
			box-shadow: 0px 0px 6px 1px rgba(200,200,200,0.5);
			transition: all 0.2s linear;
			
			.bookmarked {
				float: right;
				position: absolute;
				right: 15px;
				top: 5px;
			}
			
			&:hover {
				box-shadow: 0px 0px 10px 1px rgba(180,180,180,0.75);
			}
			
			a {
				text-decoration: none;
				color: #000;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 1px;
				
				.price {
					float: left;
					position: absolute;
				}
				
				img {
					min-height: 130px;
				}
				
				.title {
					height: 30px;
					margin-top: 10px;
				}
				
				.teaser {
					letter-spacing: 0px;
					font-size: 12px;
					text-transform: none;
					font-weight: normal;
					text-align: left;
				}
				
			}
		
		}
	}
	
}

// Common Buttons
.bookmarked {
	.glyphicon-star {
		color: #fa0;
	}
}

// Footer
.site-footer {
	border-top: 1px solid #080808;
	color: #9d9d9d;
	text-align: center;
	padding: 30px;
	
	p {
		font-size: 12px;
		
		a {
			color: #9d9d9d;
		}
	}
	
}

