// High Level
body {
	margin-top: 50px;
	background: #222;
	
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 28px;
	margin-top: 0px;
}

h2 {
	font-size: 20px;
	margin-top: 0px;
}

h6 {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}

// Bootstrap Extensions
.btn-default {
	color: #555;
}

.btn-transparent {
	background: none;
}

// Containers
.container-gray {
	background: #f0f0f0;
	padding-bottom: 0px;
	
	&>.container {
		padding-bottom: 0px;
	}

	.container-clear {
		padding-right: 30px;
	}

	.container-white {
		background: #fff;
		margin-top: 20px;
		padding-bottom: 15px;
	}

}

.padded-15 {
	padding: 15px;
}

.padded-20 {
	padding: 20px;
}

p {
	line-height: 22px;
	font-size: 16px;
}

// Common Buttons
.btn.bookmarked {
	span {
		color: #fa0;
	}
}

// Footer
.site-footer {
	border-top: 1px solid #080808;
	color: #9d9d9d;
	text-align: center;
	padding: 30px;
	
	p {
		font-size: 12px;
		
		a {
			color: #9d9d9d;
		}
	}
	
}

