// High Level
body {
	margin-top: 50px;
	
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 28px;
	margin-top: 0px;
}

h2 {
	font-size: 20px;
	margin-top: 0px;
}

// Bootstrap Extensions
.btn {
	color: #555;
}

.btn-transparent {
	background: none;
}

// Containers
.container-gray {
	background: #eee;
	padding-bottom: 0px;
	
	&>.container:first-child {
		padding-bottom: 20px;
	}
	
	&>.container {
		padding-bottom: 0px;
	}

	.container-clear {
		margin-top: 5px;
	}

	.container-white {
		background: #fff;
		padding-bottom: 15px;
	}

}

.padded-15 {
	padding: 15px;
}

.padded-20 {
	padding: 20px;
}

p {
	line-height: 22px;
	font-size: 16px;
}

