<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	
	<title>{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }} · {{ site.subTitle }}{% endif %}</title>
	<meta name='description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
    
	<link rel='canonical' href='{{ page.url | replace:'index.html','' | replace:'.html','' | prepend: site.baseurl | prepend: site.url }}'>
	
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    
    <meta property='og:image' content='/static/images/{% if page.ogImage %}{{ page.ogImage }}{% else %}homepage_wr.jpg{% endif %}'/>
	
	<link href='/static/lib/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
	<link href='/static/lib/featherlight/featherlight.min.css' rel='stylesheet'>
	<link href='/css/main.css' rel='stylesheet'>
</head>

