<template name='contributeIndex'>
	
	<div class='container-fluid container-gray page-contribute'>
	
		<div class='container'>
		
			<div class='col-md-12 container-clear padded-20'>
		
				<div class='row'>
					<ol class='breadcrumb'>
						<li><a href='/'>Home</a></li>
						<li class='active'>Contribute</li>
					</ol>
				</div>
				
				<div class='container-white padded-20 contribute-body'>
					
					<h1>Contribute to WR250R.com</h1>
					<p>
						Sites like WR250R.com are made possible by users like you! By smitting articles, corrections, and new products to the site, you help everyone else get more accurate information!
					</p>
					
					<p>Please send all contributions in an email to <a href='mailto:me@shanereustle.com'>me@shanereustle.com</a> and I will get back to you as quickly as possible. We really apprecaite the support!</p>
					
				</div>
				
			</div>
		
		</div>
		
	</div>
	
</template>

