<template name='article'>
	
	<div class='container-fluid container-gray page-article'>
		
		<div class='container'>
			
			<div class='col-md-9 container-clear padded-20'>
				
				<div class='row'>
					<ol class='breadcrumb'>
						<li><a href='/'>Home</a></li>
						<li><a href='/articles'>Articles</a></li>
						<li class='active'>{{ articleDoc.title }}</li>
					</ol>
				</div>
				
				<div class='row'>
					<div class='container-white padded-20 article-body'>
					
						<div class='pull-right article-actions'>
							<a href='#' class='btn btn-default {{#if bookmarked }}bookmarked{{/if}}' data-action='bookmark' data-article='{{ articleDoc._id }}'><span class='glyphicon glyphicon-star'></span> Bookmark{{#if bookmarked }}ed{{/if}}</a>
							<a href='/contribute' class='btn btn-default' data-action='suggestEdits'><span class='glyphicon glyphicon-pencil'></span> Suggest Edits</a>
						</div>
						
						<h1>{{ articleDoc.title }}</h1>
						{{{ articleBody }}}
						
					</div>
				</div>
				
			</div>
			
			<div class='col-md-3 page-sidebar'>
				
				<div class='container-white padded-15'>
					{{> popularArticles }}
				</div>
				
				<div class='container-white padded-15 popular-products'>
					{{> popularProducts }}
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</template>

