<template name='articlesIndex'>
	
	<div class='container-fluid container-gray page-article-list'>
		
		<div class='container'>
			
			<div class='col-md-9 container-white padded-20'>
				
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li class='active'>Articles</li>
				</ol>
				
				<div class='pull-right'>
					<div class='form-group search-field'>
						<input type='text' placeholder='search all articles...' class='form-control'/>
					</div>
				</div>
				
				<h1>Popular Articles</h1>
				<div class='row article-list'>
					{{#each articles }}
						
						<div class='col-md-4 article-tile-container'>
							<a href='/articles/{{ url }}' class='article-tile'>
								<div class='title'>{{ title }}</div>
								<div class='teaser'>This is the teaser text etc etc. Lorem ipsum dor salet foo bar. This is the teaser text etc etc. Lorem ipsum dor salet foo bar. This is the teaser text etc etc. Lorem ipsum dor salet foo bar</div>
							</a>
						</div>
						
					{{else}}
						<div class='alert alert-warning' role='alert'>No articles match your search</div>
					{{/each}}
				</div>
				
			</div>
			
			<div class='col-md-3 article-sidebar'>
				
				<div class='container-white padded-15'>
					<h6>Filter Categories</h6>
					
					<div class='checkbox'>
						<label>
							<input type='checkbox' data-field='show-reference' checked>
							Reference
						</label>
					</div>
					
					<div class='checkbox'>
						<label>
							<input type='checkbox' data-field='show-guides' checked>
							Guides
						</label>
					</div>
					
				</div>
				
				<div class='container-white padded-15'>
					<h6>Contribute</h6>
					<p>Got an idea for a helpful guide or reference document? We&apos;d love to hear about it!</p>
					<center><a href='#' class='btn btn-primary'>Create New Article</a></center>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</template>

