<template name='articlesIndex'>
	
	<div class='container-fluid container-gray page-articles-list'>
		
		<div class='container'>
			
			<div class='col-md-9 container-clear padded-20'>
				
				<div class='row'>
					<ol class='breadcrumb'>
						<li><a href='/'>Home</a></li>
						<li class='active'>Articles</li>
					</ol>
				</div>
				
				<div class='row'>
					<div class='col-md-9 container-header'>
						<h1>Popular Articles</h1>
					</div>
					<div class='col-md-9'>
						<div class='form-group search-field'>
							<input type='text' placeholder='search all articles...' class='form-control'/>
						</div>
					</div>
				</div>
				
				<div class='tile-container'>
					{{#each articles }}
						
						<div class='col-md-4 tile-outer'>
							<div class='tile-inner'>
								<a href='/articles/{{ url }}'>
									
									{{#if bookmarked }}
										<div class='pull-right bookmarked' title='Bookmarked!'>
											<span class='glyphicon glyphicon-star'></span>
										</div>
									{{/if}}
									
									<div class='title'>{{ title }}</div>
									<div class='teaser'>{{ teaser }}</div>
								</a>
							</div>
						</div>
						
					{{else}}
						<div class='alert alert-warning' role='alert'>No articles match your search</div>
					{{/each}}
				</div>
				
			</div>
			
			<div class='col-md-3 article-sidebar'>
				
				<div class='container-white padded-15 categories-filter'>
					<h6>Filter Categories</h6>
					
					<div class='checkbox'>
						<label>
							<input type='checkbox' data-category='reference' checked>
							Reference
						</label>
					</div>
					
					<div class='checkbox'>
						<label>
							<input type='checkbox' data-category='guides' checked>
							Guides
						</label>
					</div>
					
				</div>
				
				<div class='container-white padded-15'>
					<h6>Contribute</h6>
					<p>Got an idea for a helpful guide or reference document? We&apos;d love to hear about it!</p>
					<center><a href='#' class='btn btn-primary'>Create New Article</a></center>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</template>

