<template name='articlesIndex'>
	
	<div class='container-fluid container-gray page-article'>
		
		<div class='container'>
			
			<div class='col-md-9 container-white padded-20'>
				
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li class='active'>Articles</li>
				</ol>
				
				<h1>Todays Popular Articles</h1>
				<ul>
					{{#each articles }}
						<li><a href='/articles/{{ url }}'>{{ title }}</a></li>
					{{else}}
						<em>No Articles Found</em>
					{{/each}}
				</ul>
				
			</div>
			
			<div class='col-md-3 article-sidebar'>
				<div class='container-white padded-15'>
					<h6>Related Articles</h6>
					things go here
				</div>
				
				<div class='container-white padded-15'>
					<h6>Related Products</h6>
					foobar baz
				</div>
			</div>
			
		</div>
		
	</div>
	
</template>

