---
title: Helpful Articles
layout: default
draft: true
---

<div class='container-fluid container-gray page-article-list'>
	
	<div class='container'>
		
		<div class='col-md-9 container-clear padded-20'>
			
			<div class='row'>
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li class='active'>Articles</li>
				</ol>
			</div>
			
			<div class='row'>
				<div class='container-white padded-20 article-list'>
					
					<h1>Helpful Articles</h1>
					
					<ul>
						{% for article in site.articles %}
							{% unless article.draft %}
								<li><a href='{{ article.url | remove:'.html' }}'>{{ article.title }}</a></li>
							{% endunless %}
						{% endfor %}
					</ul>
					
					<a href='/contribute' class='btn btn-default'>Add an Article</a>
				</div>
			</div>
			
		</div>
		
		{% include sidebar.html %}
		
	</div>
	
</div>
