<template name='article-wr250r-to-wr250x-conversion-guide'>{{#markdown}}

# WR250R to WR250X Conversion Guide

Converting between the WR250R and the WR250X is a fairly straightforward process. Other than the wheels and tires, the [differences between the bikes](/articles/differences-between-wr250r-and-wr250x) are minimal. This guide will go through the common procedure to convert a stock WR250R to a stock WR250X. If you are looking to install aftermarket rims such as the Warp 9, check out the [Warp 9 installation guide here](/articles).

One of the primary differences to think about other than the wheel size is the front caliper. While the wheels and hubs are the same between the bikes, the front caliper and rotor are bigger on the X model (R rotor is 250mm, X rotor is 298mm. You have two options to handle the caliper size difference.

1. [Get the WR250X caliper](/products), and swap it with the current caliper when you change wheels

2. [Buy a 250mm rotor from EBC](/products) so you can continue to use the existing caliper



{{/markdown}}</template>

