---
layout: default
---

<div class='container-fluid container-gray page-article'>
	
	<div class='container'>
		
		<div class='col-md-9 container-clear padded-20'>
			
			<div class='row'>
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li><a href='/articles/'>Articles</a></li>
					<li class='active'>{{ page.title }}</li>
				</ol>
			</div>
			
			<div class='row'>
				<div class='container-white padded-20 article-body'>
				
					<div class='pull-right article-actions'>
						<a href='https://www.facebook.com/sharer/sharer.php?u=http://wr250r.com{{ page.url }}' class='btn btn-default' target='_blank'><span class='glyphicon glyphicon-envelope'></span> Share</a>
						<a href='/contribute/' class='btn btn-default' data-action='suggestEdits'><span class='glyphicon glyphicon-pencil'></span> Suggest Edits</a>
					</div>
					
					<h1>{{ page.title }}</h1>
					
					{{ content }}
					
				</div>
			</div>
			
		</div>
		
		{% include sidebar.html %}
		
	</div>
	
</div>

