---
layout: default
---

<div class='container-fluid container-gray page-product-category'>
	
	<div class='container'>
		
		<div class='col-md-9 container-clear padded-20'>
			
			<div class='row'>
				<ol class='breadcrumb'>
					<li><a href='/'>Home</a></li>
					<li><a href='/products'>Products</a></li>
					<li class='active'>{{ page.title }}</li>
				</ol>
			</div>
			
			<div class='row'>
				<div class='col-md-12 container-header'>
					<h1>WR250R {{ page.title }}</h1>
				</div>
			</div>
			
			<div class='tile-container'>
                {% assign filteredProducts = (site.products | where: "category", page.categoryFilter ) %}
				{% for product in filteredProducts %}
					
					{% unless product.draft %}
						<div class='tile-outer col-md-4 col-lg-4'>
							<div class='tile-inner'>
								<a href='{{ product.url | remove:'.html' }}'>
									<img src='{{ site.STATIC }}products/{{ product.thumbnail }}' class='img-responsive'/>
									<div class='title'>{{ product.title }}</div>
								</a>
							</div>
						</div>
					{% endunless %}
					
				{% endfor %}
			</div>
			
		</div>
		
		{% include sidebar.html %}
		
	</div>
	
</div>

