<template name='index'>
	<div class='container-fluid container-gray page-index'>
		
		<div class='container container-clear padded-20'>
			<div class='col-md-10 col-md-offset-1'>
				<p class='hero-text'>
					Welcome to wr250r.com, a vibrant community of wr250r and wr250x enthusiasts.
					Here you&apos;ll find instructional guides, tutorial videos, and the latest aftermarket and OEM parts.
				</p>
			</div>
		</div>
		
		<div class='container padded-20'>
			<div class='col-md-12 container-white'>
				<h1>Latest Docs</h1>
				<p>
					foobar baz
				</p>
			</div>
		</div>
		
	</div>
</template>

