<template name='siteIndex'>
	<div class='container-fluid container-gray page-index'>
		
		<div class='container container-clear padded-20'>
			<div class='col-md-10 col-md-offset-1'>
				<p class='hero-text'>
					<b>&ldquo;</b>
					Welcome to WR250R.com, a vibrant community of WR250R and WR250X enthusiasts.
					Here you&apos;ll find instructional guides, tutorial videos, and the latest aftermarket and OEM parts.
					<b>&rdquo;</b>
				</p>
			</div>
		</div>
		
		<div class='container'>
			<div class='row'>
				<div class='container-white padded-20 index-body'>
					
					<p>Content goes here</p>
					
				</div>
			</div>
		</div>
		
	</div>
</template>

