<template name='index'>
	<div class='container-fluid container-gray page-index'>
		
		<div class='container container-clear padded-20'>
			<div class='col-md-10 col-md-offset-1'>
				<p class='hero-text'>
					<b>&ldquo;</b>
					Welcome to wr250r.com, a vibrant community of wr250r and wr250x enthusiasts.
					Here you&apos;ll find instructional guides, tutorial videos, and the latest aftermarket and OEM parts.
					<b>&rdquo;</b>
				</p>
			</div>
		</div>
		
		<div class='container'>
			<div class='col-md-12 container-white padded-20'>
				
				<h1>Popular Docs</h1>
				<p>
					Content goes here
				</p>
				
				<h1>Latest Products</h1>
				<p>
					Content goes here
				</p>
				
				<h1>Popular Videos</h1>
				<p>
					Content goes here
				</p>
				
			</div>
		</div>
		
	</div>
</template>

